# define the language of this project
language: node_js

# define node.js versions to run on
node_js:
  - "5.7"
  - "5.6"
  - "4.3"
  - "4.2"
  - "4.1"
  - "4.0"
  - "iojs"
  - "0.12"
  - "0.10"

# run before everey other script
before_script:
  - npm install

# run some scripts
script:
  # run tests
  - npm test
