# define the language of this project
language: node_js

# define node.js versions to run on
node_js:
  - "stable"
  - "11"
  - "10"
  - "9"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"
  - "iojs"
  - "0.12"
  - "0.11"
  - "0.10"

# run before everey other script
before_script:
  - npm install

# run some scripts
script:
  # run tests
  - npm test
  - npm run-script test-travis

# trigger some additional tools after success
after_success:
  # send coverage data to coveralls
  - npm run-script coveralls
  # send coverage data to codeclimate
  - npm run-script codeclimate

